/*
Theme Name: Heterotopia
Theme URI: https://digital-bridge.de/
GitHub Theme URI: stkjj/heterotopia
GitHub Theme URI: https://github.com/stkjj/heterotopia
Template: astra
Author: KeDe Digital LLP
Author URI: https://digital-bridge.de/
Description: Child-Theme für Institut für Angewandte Heterotopie, basierend auf Astra
Version: 1.1.0

*/

/* Farbmodell */

.wp-block-button .wp-block-button__link {
	color: #000000;
	}
	
.category-praxis .uagb-post__inner-wrap,
.category-practice .uagb-post__inner-wrap {
	background: #E6ffff;
	}

.category-theorie .uagb-post__inner-wrap,
.category-theory .uagb-post__inner-wrap {
	background: #ffE6ff;
	}

.category-karte .uagb-post__inner-wrap,
.category-map .uagb-post__inner-wrap {
	background: #ffffE6;
	}

.category-konferenz .uagb-post__inner-wrap,
.category-conference .uagb-post__inner-wrap {
	background: #E6E6E6;
	color: #ffffff;
	}

.category-konferenz  .uagb-post__title,
.category-conference .uagb-post__title {
	color: #ffffff;
	}

.category-konferenz .wp-block-button .wp-block-button__link,
.category-conference .wp-block-button .wp-block-button__link {
	color: #ffffff;
	border-color: #ffffff;
	}

/* Excerpt in Beitragsvorschau linksbündig */

.uagb-post__excerpt {
	text-align: left;
	}
	
/* Team Bilder 50 % */

.wp-block-media-text .wp-block-media-text__media {
	margin: 2em auto;
	width: 50%;
	}
	
/* Überschriften fett und ausgetrieben */

.uagb-post__title {
    font-weight: 800;
    letter-spacing: 0.1em;
	}
	
/* Site Title ohne Versalien */

.site-title {
	text-transform: capitalize;
	}
	
