/*
Theme Name: Heterotopia
Theme URI: https://digital-bridge.de/
GitHub Theme URI: stkjj/heterotopia
GitHub Theme URI: https://github.com/stkjj/heterotopia
Template: astra
Author: KeDe Digital LLP
Author URI: https://digital-bridge.de/
Description: Child-Theme für Institut für Angewandte Heterotopie, basierend auf Astra
Version: 1.2.6

*/

/* Farbmodell */

.wp-block-button .wp-block-button__link {
	color: #000000;
	}
	
.category-praxis .uagb-post__inner-wrap,
.category-practice .uagb-post__inner-wrap {
	background: #E6ffff;
	}

.category-theorie .uagb-post__inner-wrap,
.category-theory .uagb-post__inner-wrap {
	background: #ffE6ff;
	}

.category-karte .uagb-post__inner-wrap,
.category-map .uagb-post__inner-wrap {
	background: #ffffE6;
	}

.category-konferenz .uagb-post__inner-wrap,
.category-conference .uagb-post__inner-wrap {
	background: #E6E6E6;
	color: #ffffff;
	}

.category-konferenz  .uagb-post__title,
.category-conference .uagb-post__title {
	color: #ffffff;
	}

.category-konferenz .wp-block-button .wp-block-button__link,
.category-conference .wp-block-button .wp-block-button__link {
	color: #ffffff;
	border-color: #ffffff;
	}

/* Excerpt in Beitragsvorschau linksbündig */

.uagb-post__excerpt {
	text-align: left;
	}
	
/* Team Bilder 50 % */

.wp-block-media-text .wp-block-media-text__media {
	margin: 2em auto;
	width: 50%;
	}
	
/* Überschriften fett und ausgetrieben */

.uagb-post__title {
    font-weight: 800;
    letter-spacing: 0.1em;
	}
	
/* Beitragsüberschrift und Meta zentriert */

.ast-single-post-order {
	text-align: center;
	}

/* IntroText auf Eingangsseite */

.introtext {
	font-weight: 100;
    font-style: italic;
    max-width: 80%;
    }

/* Darstellung Meta in Einzeldarstellung an Übersichtsseite angepasst */

.entry-meta {
    text-transform: capitalize;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.author-name:before {
    content: "\f110 ";
	}

.posted-on:before {
    content: "\f145 ";
    }

.cat-links:before {
    content: "\f323 ";	
	}